registry=https://registry.npmjs.org/
@ucreact:registry=http://modules.urbanclap.com:4873
@orion:registry=http://modules.urbanclap.com:4873
@uc:registry=http://modules.urbanclap.com:4873
@design-components:registry=http://modules.urbanclap.com:4873
legacy-peer-deps=true
